<head th:fragment="headFragment">
<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
<title th:text="${title}">Dashboard | STEAM IMS</title>
<!-- Favicon Icon -->
<link href="/resources/images/favicon.ico" rel="icon" type="image/x-icon">
<!-- Bootstrap CSS File-->
<link href="/resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Jquery Js File -->
<script src="/resources/jquery/jquery.min.js"></script>
<!-- Boostrap Js File -->
<script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.js"></script>
<!-- Fontawesome Js Plug-in -->
<script crossorigin="anonymous" src="https://kit.fontawesome.com/07941f149f.js"></script>
<!-- DateRangePicker Library -->
<script src="/resources/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/resources/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<link href="/resources/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
<!-- Chosen Library-->
<script src="/resources/chosen-1.8.7/chosen.jquery.min.js" type="text/javascript"></script>
<link href="/resources/chosen-1.8.7/chosen.min.css" rel="stylesheet" type="text/css">
<!-- Custom CSS File-->
<link href="/resources/css/customIMS.css" rel="stylesheet">
</head>