<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}"></head>

<body>
<!--Loader-->
<div th:replace="~{fragments/loader :: loader}"></div>
<!-- Nav Bar Start -->
<nav th:replace="~{ fragments/navbarAdministration :: navbarAdministrationFragment}"></nav>
<!-- Nav Bar End -->

<!-- Display Current Page /breadcrumbs Start -->
<div class="container-fluid bg-custom-white custom-banner">
    <h5>Counsellors' Performance</h5>
</div>
<!-- Display Current Page /breadcrumbs End -->

<div class="container-fluid pt-2">
    <div class="card rounded-0">
        <div class="card-body">

            <div class="row">
                <div class="col-12 col-lg-auto m-lg-0 p-0 ms-lg-2 ms-sm-0 mb-1">
                    <label class="text-uppercase text-muted small m-0 p-0" for="performanceAdminSearchDateRange">Date Range</label>
                    <div class="input-group">
                        <span class="input-group-text text-black bg-custom-white rounded-0"><i class="fa-solid fa-calendar-week"></i></span>
                        <input class="form-control rounded-0" style="width: 235px;" id="performanceAdminSearchDateRange" placeholder="Date Range" />
                        <button class="btn bg-purple rounded-0 text-white ms-2" id="" type="submit" onclick="getAdminPerformance()"><i class="fa-solid fa-magnifying-glass small"></i></button>
                    </div>
                </div>


            </div>
        </div>

        <div class="card-footer pt-4 pb-4">
            <h2 class="text-center" style="text-transform: uppercase;font-size: medium;font-weight: bold;font-family: Arial, serif;" id="performanceTitle"></h2>
                <div class="card card-body rounded-0 w-100">
                    <h2 class="text-muted text-uppercase fs-6">Counsellors' Performance</h2>
                    <div id="chartPerformance"></div>
                </div>
            <div class="card-group mt-3">
                <div class="card card-body rounded-0">
                    <h2 class="text-muted text-uppercase fs-6">Top Courses</h2>
                    <div id="chartCourses"></div>
                </div>
                <div class="card card-body rounded-0">
                    <h2 class="text-muted text-uppercase fs-6">Top Sources</h2>
                    <div id="chartSources"></div>
                </div>

            </div>

            <div class="d-flex gap-3 mt-3 overflow-auto w-100">
                <table class="custom-table w-100" id="tblPerformance">
                    <thead>
                    <tr>
                        <th rowspan="2">Agent</th>
                        <th class="text-nowrap" rowspan="2">Conversion Rate</th>
                        <th colspan="6">Inquiry</th>
                    </tr>
                    <tr>
                        <th>Count</th>
                        <th>New Inquiry</th>
                        <th>Processing</th>
                        <th>Registered</th>
                        <th>Dropped</th>
                        <th>Completed</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="counsellorName">Malindu Prabodhitha</td>
                        <td id="conversionRate">80%</td>
                        <td id="totalCount">100</td>
                        <td id="newInquiryCount">10</td>
                        <td id="processingCount">10</td>
                        <td id="registeredCount">10</td>
                        <td id="droppedCount">10</td>
                        <td id="completedCount">80</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<script src="/resources/highcharts-11.4.3/highcharts.js" type="text/javascript"></script>
<script src="/resources/js/external-commonFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-loader.js" type="text/javascript"></script>
<script src="/resources/js/external-modalFunction.js" type="text/javascript"></script>
<script src="/resources/js/external-chart.js" type="text/javascript"></script>
<script src="/resources/js/controllerJS/performanceAll.js"></script>
<script th:replace="~{ fragments/logout :: logoutScript}"></script>
</body>
</html>